<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/exercisePage.css}">
    <title>题库</title>
</head>
<style>
    .QuestionBlock {
        margin-top: 10%;

    }
</style>

<body>
<!--顶部栏-->
<nav class="navbar navbar-default"></nav>
<div th:insert="~{StudentPage/userpage::user_top_bar}"></div>

<div class="container-fluid" style="overflow: hidden;">
    <div class="row">
        <div class="col-md-2 left">
            <!--侧边栏-->
            <div th:insert="~{StudentPage/userpage::user_navbar}"></div>

        </div>
        <div class="col-md-offset-2">

                <div class="QuestionBlock">

                    <div class="text-content-tt">
                        <i>!</i>

                        <span th:text="${q.getQ_text()}"></span>

                    </div>

                    <!-- 选项列表 -->
                    <ul class="option" style="padding-left: 10%;">
                        <li>

                                <span>
                                    A.
                                    <span th:text="${q.getQ_A()}"> </span>
                                </span>
                        </li>
                        <li>

                                <span>
                                    B.
                                    <span th:text="${q.getQ_B()}"> </span>
                                </span>
                        </li>
                        <li>

                                <span>
                                    C.
                                    <span th:text="${q.getQ_C()}"> </span>
                                </span>
                        </li>
                        <li>

                                <span>
                                    D.
                                    <span th:text="${q.getQ_D()}"> </span>
                                </span>

                                <span th:if="${not #strings.isEmpty(q.getQ_E)}">
                                    E
                                    <span th:text="${q.getQ_E()}"></span>
                                </span>
                        </li>
                        <li>

                                <span>
                                    你的答案：
                                    <span th:text="${answer}"> D</span>

                                    <!-- 	glyphicon glyphicon-remove -->
                                    <span th:if="${q.getAnswer eq answer}" class="glyphicon glyphicon-ok" style="color: green;"> </span>
                                    <!-- 	glyphicon glyphicon-remove -->
                                    <span th:unless="${q.getAnswer eq answer}" class="glyphicon glyphicon-remove" style="color: red;"> </span>

                                    正确答案：
                                    <span th:text="${q.getAnswer()}">D</span>
                                </span>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-md-offset-1 ">
                            <div class="correct" th:if="${q.getAnswer eq answer}">
                                <div class="row">
                                    <div class="col-md-5">
                                        恭喜你答对了！请选择是否将该题从错题库中删除：
                                    </div>
                                    <div class="col-md-offset-5">
                                        <form th:action="@{/deleteMCQs.html}">
                                        <input type="hidden" name="q_id" th:value="${q.q_id}">
                                        <input type="radio" name="choice" value="Yes" required="required">是
                                        <input type="radio" name="choice" value="No">否
                                        <button class="btn btn-primary">提交</button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <div class="wrong" th:unless="${q.getAnswer eq answer}">
                                好可惜！你答错了！
                                <a th:href="@{/MCQsLibrary.html}" class="btn btn-primary">返回</a>

                            </div>

                        </div>

                    </div>
                </div>


        </div>


    </div>
</div>

</body>

</html>