<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace很重要别写错-->
<mapper namespace="com.demon.mapper.ExamResultMapper">
    <insert id="addExamResult"  parameterType="ExamResult" >
        insert into exam_result(username,p_id,grade,mcqs_id,start_time,end_time)
        values (#{username},#{p_id},#{grade},#{mcqs_id},#{start_time},#{end_time})
    </insert>

</mapper>