<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}">
    <title>题库</title>
</head>

<body>
<nav class="navbar navbar-default" th:fragment = "index_top_bar">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="#">题库</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="Home"><a href="/">首页</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/register.html}"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                <li><a th:href="@{/login.html}"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>


</body>

</html>