<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/exercisePage.css}">
    <title>题库</title>
</head>


<body>
<nav class="navbar navbar-default"></nav>
<div th:insert="~{StudentPage/userpage::user_top_bar}"></div>


<div class="container">
    <div class="row">
        <!-- form -->
        <form th:action="@{/exerciseResult.html}">
            <input type="hidden" th:value="${nowTime}" name="nowTime">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">一、单选题</div>
                    <div class="panel-body text-content">
                        <ul>
                            <!-- 题目 -->
                            <li th:each="q,qStatus:${singleQuestion}">
                                <div class="text-content-tt">
                                    <i th:text="${qStatus.count}">1</i>
                                    <span>(1分)</span>
                                    <span
                                            th:text="${q.getQ_text()}">销售者和采购者都是企业，从订购到结算开票的全部交易过程都用网络实现的电子商务类型是（　）。</span>

                                </div>

                                <!-- 选项列表 -->
                                <ul class="option">
                                    <li>
                                        <input type="radio" th:name="${q.getQ_id()}" value="A" required="required">

                                        <span>
                                                A.
                                                <span th:text="${q.getQ_A()}"> 企业对消费者（B2C）</span>
                                            </span>
                                    </li>
                                    <li>
                                        <input type="radio" th:name="${q.getQ_id()}" value="B" required="required">

                                        <span>
                                                B.
                                                <span th:text="${q.getQ_B()}"> 选项二</span>
                                            </span>
                                    </li>
                                    <li>
                                        <input type="radio" th:name="${q.getQ_id()}" value="C" required="required">

                                        <span>
                                                C.
                                                <span th:text="${q.getQ_C()}"> 选项三</span>
                                            </span>
                                    </li>
                                    <li>
                                        <input type="radio" th:name="${q.getQ_id()}" value="D" required="required">

                                        <span>
                                                D.
                                                <span th:text="${q.getQ_D()}"> 选项四</span>
                                            </span>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">二、多选题</div>
                    <div class="panel-body text-content">
                        <ul>
                            <!-- 题目 -->
                            <li th:each="mq,mqStatus:${multiQuestion}">
                                <div class="text-content-tt">
                                    <i th:text="${mqStatus.count}">1</i>
                                    <span>(1分)</span>
                                    <span
                                            th:text="${mq.getQ_text()}">销售者和采购者都是企业，从订购到结算开票的全部交易过程都用网络实现的电子商务类型是（　）。</span>

                                </div>

                                <!--选项列表  -->
                                <ul class="option">
                                    <li>
                                        <input type="checkbox" th:name="${mq.getQ_id()}" value="A">

                                        <span>
                                                A.
                                                <span th:text="${mq.getQ_A()}"></span>
                                            </span>
                                    </li>
                                    <li>
                                        <input type="checkbox" th:name="${mq.getQ_id()}" value="B">

                                        <span>
                                                B.
                                                <span th:text="${mq.getQ_B()}"></span>
                                            </span>
                                    </li>
                                    <li>
                                        <input type="checkbox" th:name="${mq.getQ_id()}" value="C">

                                        <span>
                                                C.
                                                <span th:text="${mq.getQ_C()}"></span>
                                            </span>
                                    </li>
                                    <li>
                                        <input type="checkbox" th:name="${mq.getQ_id()}" value="D">

                                        <span>
                                                D.
                                                <span th:text="${mq.getQ_D()}"></span>
                                            </span>
                                    </li>
                                    <li>
                                        <input type="checkbox" th:name="${mq.getQ_id()}" value="E">

                                        <span>
                                                E.
                                                <span th:text="${mq.getQ_E()}"></span>
                                            </span>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer">

                <div class="col-md-offset-10">
                    <button href="#" class="btn btn-success">交卷</button>
                </div>

            </div>
            <!-- over footer -->
        </form>

        <div class="col-md-3">
            <div class="panel panel-info" style="position: fixed;">
                <div class="panel-heading">

                    <p style="text-align: center; padding-top: 5%;">答题卡</p>

                </div>
                <div class="panel-body">题目</div>
            </div>

        </div>
    </div>




</div>



</body>

</html>